:root {
  // НЕЛЬЗЯ УДАЛЯТЬ ЭТИ ПЕРЕМЕННЫЕ

  // контейнер
  --container-width: 1180px;
  --container-lg-width: 1600px;
  --container-padding: 16px;

  // шрифты
  --font-default: 'Unbounded';
  --font-family: 'Lato';
  --font-titles: var(--font-default);

  // размер шрифта
  --defaul-font-size: 18px;
  --defaul-line-height: calc(26/18*100%);
  @media (max-width: 468px) {
    --defaul-font-size: 16px;
  }

  // брекпоинты
  --xl: 1230px;
  --lg: 991.8px;
  --md: 767.98px;
  --sm: 575.98px;
  --xs: 468px;

  // глобаьлные цвета
  --page-bg: #FFFFFF;
  --default-color: #1A3A27;
  --link-color: rgba(0, 0, 0, 0.7);


  // ЗДЕСЬ МОЖНО ПРОПИСЫВАТЬ СВОИ ПЕРЕМЕННЫЕ

  --primary: #3B9254;
  --primary-hover: #4EA366;
  --primary-active: #2A7941;
  --secondary: #EAF5ED;
  --disabled-bg: #C9DACE;
  --disabled-color: #859F8D;
  --accent: #EF476F;
  --light-color: #FFFFFF;
  --accent-hover: #5dcd6e;
  --dark-color: #232120;
  --black-color: #000000;
  --input-border-color: #EEEEEE;
  --input-placeholder-color: #949895;
  --light-gray-color: #C5E1CD;
  --gray-color: #FFFF;
  --gray-accent: #515753;
  --gray-accent-2: #f8f8f8;
  --gray-bg: #f6f6f6;
  --gray-bg-2: #f8f8f8;
  --red-color: #FF564E;
  --beige-color: #F0E7D9;
  --transition: all .4s;

  // Отступы для блоков
  --indent: 100px;

  @media (max-width: 1230px) {
    --indent: 80px;
  }
  @media (max-width: 991.8px) {
    --indent: 40px;
  }

}

.dark {
  --page-bg: #252526;
  --text-color: #fff;
}