.footer {
    overflow: hidden;
    background: #f8f8f8;
}
.footer__inner {
    padding-top: 60px;
    

    @include md {
        padding-top: 36px;
    }
}
.footer__nav {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    gap: 137px;

    @include xl {
        gap: 55px;
    }


    @include lg {
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
        align-content: space-between;
    }

    @include sm {
        grid-template-columns: repeat(1,1fr);
    }

    .logo {

        @include sm {
            width: 213px;
            height: 72px;
        }
    }
}
.footer__item {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--gray-accent);
}
.footer__name {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--primary-active);
    margin-bottom: 25px;
}
.footer__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer__nav-item {
    display: flex;
    flex-direction: column;
}
.footer__nav-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer__nav-item-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.footer__nav-item-desc {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__nav-item-text {
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-accent);
}

.footer__pages {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__copypaste {
    margin-top: 60px;
    padding: 40px 0px 80px 0px;
    border-top: 1px solid #949895;
    width: 1180px;
    height: 0px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;

    @include xl {
        grid-template-columns: repeat(1,1fr);
    }
}
.footer__copypaste-text {
    font-family: var(--font-family);
    font-weight: 400;
    @include text-size(18,15);
    line-height: 150%;
    color: var(--gray-accent);
    max-width: inherit;
    width: 100%;

    @include md {

        max-width: 500px;
        br {
            display: none;
        }
    }

    @include sm {
        max-width: 478px;
    }

    @include xs {
        max-width: 350px;
    }
}
.footer__copypaste-links {
    text-wrap: nowrap;
    @include xl {
        order: -1;
    }

    @include md {
        display: flex;
        flex-direction: column;
        border: none;
        gap: 10px;
    }
    
    a {
        font-family: var(--font-family);
        font-weight: 400;
        @include text-size(18,15);
        line-height: 150%;
        color: #949895;
        padding: 0 10px;
        transition: var(--transition);

        &:first-child {
            border-right: 1px solid #949895;
        }

        @include hover {
            text-decoration: underline 1px;
            text-underline-offset: 3px;
        }
    }
}