.header {

    &__inner {
        display: flex;
        gap: 5px;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        max-width: 1180px;

        width: 100%;
        position: fixed;
        left: 0px;
        right: 0px;
        width: 100%;
        z-index: 500;
        margin: 0 auto;

        @include xl {
            max-width: 970px;
            padding: 16px;
        }

        @include lg {
            max-width: 750px;
        }

        @include md {
            max-width: 540px;
            padding: 0 16px;
            height: 60px;
        }
    }


    .fix {
        height: 80px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        background-color: rgb(255, 255, 255);
        overflow: hidden;
        -webkit-box-shadow: 0px 16px 18px -10px rgba(59, 146, 84, 0.28);
        -moz-box-shadow: 0px 16px 18px -10px rgba(59, 146, 84, 0.28);
        box-shadow: 0px 16px 18px -10px rgba(59, 146, 84, 0.28);
        

        @include md {
            height: 60px;
            padding: 0 16px;
        }
    }

    &__contacts {
        display: flex;
        gap: 10px;
        justify-content: flex-start;
        align-items: center;

        @include xl {
            gap: 5px;
        }
    }

    &__tel {

        @include xl {
            padding: 14.5px 5px;
            font-size: 15px;
        }

        @include lg {
            padding: 14.5px 16px;
            font-size: 18px;
        }

        @include sm {
            display: none;
        }
    }

    &__button {
        @include xl {
            padding: 16px 10px;
        }

        @include lg {
            padding: 10px 30px;
            min-height: 42px;
        }

        @include md {
            display: none;
        }
    }
}

.nav {
    display: flex;
    gap: 39px;
    align-items: center;

    @include xl {
        gap: 10px;
    }

    &__menu {
        display: flex;
        gap: 5px;

        @include xl {
            gap: 0;
        }

        @include lg {
            display: none;
        }
    }

    &__link {



        @include xl {
            padding: 14.5px 8px;
            font-size: 17px;
        }
    }
}